*{
    padding: 0px;
    margin: 0px;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;

}
.container{
    padding: 50px;

}
.section-one{
    background-color: #873B70;
    color: beige;
    padding: 20px;
}
.section-one__contact{
    background-color: white;
    color: #873B70;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
    font-size: 15px;
}
.section-two__title,.section-three__title,.section-four__title,.section-five__title{
    margin-top: 10px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}
.section-five{
    background-color:#FFADBC;
    color: beige;
    padding: 20px;
}
.section-three{
    background-color: #D98AB5;
    color: white;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-four{
    background-color:#D98AB5;
    color: white;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;

}

.contact-form{
    margin-top: 20px;

}

.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;

}

.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
}
.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #873B70;
    color:white;
    border: none;
}